{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-box">
  <h2>Register</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="text" name="first_name" required="">
      <label>First Name</label>
    </div>
      <div class="user-box">
      <input type="text" name="last_name" required="">
      <label>Last Name</label>
    </div>
      <div class="user-box">
      <input type="text" name="email" required="">
      <label>E-mail</label>
    </div>
      <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
          <div class="user-box">
      <input type="password" name="password1" required="">
      <label>Confirm Password</label>
    </div>
    <input type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Create
    </input>
  </form>
</div>
{% endblock %}